<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>

  <body>
    {{> header}}
    <h3><p>{{screamIt welcomeMessage}}</p></h3>

    {{> footer}}
  </body>
</html>

